@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/** {*/
/*	box-sizing: border-box;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	font-size: inherit;*/
/*}*/

/*body {*/
/*	font-family: "Noto Sans", sans-serif;*/
/*	font-size: 16px;*/

/*	!* https://cssgradient.io/gradient-backgrounds/ *!*/
/*	background: #c6ffdd;*/
/*	background: linear-gradient( to right, #f7797d, #fbd786, #c6ffdd );*/

/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	height: 100vh;*/
/*}*/

.input {
	border: 1px solid #eee;
	height: 15px;
	box-shadow: none;
	padding-left: 10px;
	font-size: 14px;
	color: #626262;
	width:15px;
}

.container-quiz {
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;

	 /*https://cssgradient.io/gradient-backgrounds/ */
	background: #c6ffdd;
	background: linear-gradient( to right, #f7797d, #fbd786, #c6ffdd );

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.vote-form {
	transition: all 0.5s ease-in-out;
	border-radius: 15px;
}

.quiz-vote-form {
	opacity: 0;
}

.quiz {
	position: relative;
	padding: 2rem 2rem calc(2rem + 70px);

	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 4px rgba(100, 100, 100, 0.32);
	width: 600px;
	max-width: 95vw;
	overflow: hidden;
}

.title{
	font-size: 1.8rem;
	padding: 1rem 0;
	text-align: center;
	margin: 0;
	font-weight: 600;
}

.title-quest {
	margin-bottom: 15px;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.text-content {
	font-weight: 700;
	font-size: 1.3rem;
	color: #6e6e6e;
	text-transform: uppercase;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

.quiz-list {
	list-style-type: none;
	padding: 0;
}

.quiz-list li {
	font-size: 1.2rem;
}

.quiz-list label {
	cursor: pointer;
	width: 100%;
    display: block;
	padding: 1rem 0.5rem;
}

.quiz-list label:hover {
	background-color: seashell;
}

.quiz-list label.correct {
	color: rgb(36, 144, 77);
	font-weight: bold;
}

.quiz-list label.disabled {
	cursor: no-drop;
}

.quiz-list label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.quiz-list label.wrong {
	color: rgb(218, 59, 59);
	font-weight: bold;
}

.quiz-list input[type="radio"] {
	margin-right: 10px;
}

.quiz-submit {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	line-height: 70px;
}

.submit {
	background-color: #2ea3d9;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.8rem;
	font-family: inherit;
	font-weight: 600;
	transition: 0.3s all;
}

.submit:hover {
	background-color: #03a8f2;
}

.submit:focus {
	outline: none;
	background-color: #03a8f2;
}

.submit.next {
	background-color: #000000;
}

.submit.next:hover {
	background-color: #222222;
}

.submit.next:focus {
	outline: none;
	background-color: #444444;
}

.quiz-list.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	color: #94ca00;
}

.opacity-quiz {
	display: none;
}

.button-disable {
	background-color: grey;
}

.button-disable:hover {
	background-color: grey;
	cursor: default;
}

#dialog {
	flex-direction: column;
	align-items: center;
	background: white;
	max-width: 600px;
	padding: 2rem 3rem 1rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
}

.dialog-img {
	width: 80px; height: 80px;
}

.open {
	display: flex;
}


.x {
	margin: 10px 0 15px 0;
	font-weight: 600;
	border-radius: 5px;
	animation: shake 1.5s ease both;
}

.x:hover {
	background-color:  #03a8f2;
	color: white;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
